.App {
    max-width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
  }
  body {
    background: #0e101c;
    color: white;
    padding: 0 20px 50px;
  }
  input, textarea {
    display: block;
    box-sizing: border-box;
    width: 50%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin: 10px 40px;
    font-size: 14px;
  }
  
  label
   {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }

  input[type="submit"],
.button {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 50%;
  font-weight: lighter;
}

.buttonBlack {
  background: black;
  border: 1px solid white;
}
  
h1{
  color: white;
}